/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.stackSettings {
  display: flex;
  height: 25px;
  flex-flow: row nowrap;
  padding: 0;
  line-height: 25px;
  white-space: nowrap;
}

.stackSettingsList {
  display: block;
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.stackSettingsListItem {
  padding: 0;
  margin: 0 5px;
}

.stackSettingsListItem:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid var(--grey-20);
}

.stackSettingsLabel {
  height: 25px;
  padding: 0;
}

.stackSettingsFilter {
  padding-right: 10px;
  border-right: 1px solid var(--grey-20);
}

.stackSettingsFilterLabel {
  align-items: center;
  padding: 0 5px 0 0;
}

.stackSettingsCategoryFilter {
  height: 16px;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 11px;
  color: var(--grey-90);
  border-radius: 2px;
  padding: 0 4px;
}

.stackSettingsCategoryFilter > span {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 4px;
  width: 9px;
  height: 9px;
  border-radius: 0px;
  border-width: 0.5px;
  border-style: solid;
}

.stackSettingsCategoryFilter > span[data-state="inactive"] {
  background-color: var(--grey-90-a10);
  border-color: var(--grey-90-a30);
}
.stackSettingsCategoryFilter > span:not(.category-color-transparent)[data-state="active"] {
  border-color: rgb(0 0 0 / 0.1);
}

.stackSettingsSelect {
  /* Create a new stacking context for the select using a position:relative. This way
   * the focus ring around the select breaks out of its surrounding container. */
  position: relative;
  height: 24px;
  color: inherit; /* important so that the text is still legible when the OS is configured in dark mode. */
  font-size: inherit;
}
